body{
margin:0;
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#08131f;
font-family:Poppins;
}

.main{
display:flex;
gap:120px;
align-items:center;
}

/* Lamp */

#lamp{
width:160px;
cursor:pointer;
}

/* Auth Box */

.auth-container{
display:none;
}

.auth-container.active{
display:block;
}

/* Card */

.login, .signup{
width:280px;
background:#0f1a2b;
padding:30px;
border-radius:12px;
box-shadow:0 0 30px rgba(120,255,80,0.4);
display:flex;
flex-direction:column;
}

.signup{
display:none;
}

h2{
color:white;
text-align:center;
}

input{
margin:8px 0;
padding:10px;
border:none;
border-radius:6px;
background:#1b2738;
color:white;
}

.btn{
background:#9cff3b;
border:none;
padding:10px;
margin-top:10px;
border-radius:6px;
cursor:pointer;
}

.google{
background:white;
color:black;
padding:10px;
margin-top:10px;
border:none;
border-radius:6px;
cursor:pointer;
}

p{
color:#ccc;
text-align:center;
}

span{
color:#9cff3b;
cursor:pointer;
}